*{
    padding: 0%;
    margin: 0%;
}
.cart{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #C56683;
    color:#fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 92%;
    margin-top: 10px;
}
.cart .icon-cart {
   margin-left: 20%;
}
.categorias{
    margin: auto;
    text-align: center;
    margin-right: 80px;
    padding: 10px;
    border-bottom: 1px solid #000000;
}
.categorias ul li{
    display:inline;
    font-family: 'Dosis', sans-serif;
    padding:0px 10px;
    font-size: 20px;
}
.categorias ul li a{
    text-decoration: none;
    color:#000000;
    padding:5px 20px;
}
.categorias ul li a:hover{
background:#f8f8f8;
}
.user{
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.search{
    position: absolute;
    width: 500px;
    height: 30px;
    font-size: 30px;
    border-radius: 50px;
    background: #fff;
    display: flex;
    border: none;
    padding: 5px;
    margin-left: 33%;
    margin-top: 10px;
}
input{
    padding-left: 20px;
    width: 400px;
    border: none;
}
input:focus {
    border: none;
    outline:none;
}
body{
    background: #E0E2DB;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: calc(100% - 80px) 260px;
    background-position-x: 80px;
}
.contenedor{
    display: flex;
}
#texto{
    display: block;
}
#menu{
    background: #000000;
    width: 80px;
    min-height: 100vh;
    border-right: 10px solid #C56683;
    overflow-x: hidden;
    transition: width .5s;   
    display: flex;
    align-items: center;
    position: fixed;
}
#menu:hover{
    width: 250px;
} 
#menu ul{
    width: 250px;
    vertical-align: bottom;
}
#menu ul a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height:20px;
    font-family: 'Dosis', sans-serif;
}
#menu ul a li{
    padding: 3vh;
    display: flex;
    align-items: center;
}
#menu ul a li span{
    color:#fff;
    font-size: 30px;
    padding:0px 40px 0px 10px 
}
#menu ul li:hover{
    background: #C56683;
    border-radius: 50px 0px 0px 50px;
}
#menu-hamburguesa{
    display: none;
}
h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: 15px 80px 10px 0px;
}
h4{    
    font-family: 'Anton', sans-serif;
}
h2{
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
}
.fila{
    margin: auto;
    width: 75%;
    margin-right: 80px;
    margin-top: 20%;
}
.columna{
    float: left;
    width: 20%;
    padding: 10px 10px;
    cursor: pointer;
}
.card{
    box-shadow:  0 4px 8px 0 rgb(0,0,0,.2);
    padding: 5px;
    text-align: center;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}
.inferior-card{
    box-shadow:  0 4px 8px 0 rgb(0,0,0,.2);
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}
.card:hover{
    background: #C56683;
}
.card:hover>.heart-bar .heart{
    color:#fff;
}
.heart-bar{
    width: 150px;
    height: 30px;
    text-align: end;
}
.heart{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 25px;  
    list-style: none;
    color: #C56683;
}
.fila .columna .card img{
    width: 150px;
    height: 150px;
}
.stars{
    color:#FFAC33;
    margin-top: 10px;
    font-size: 20px;
}
.inferior-card p{
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
}
@media(max-width: 900px)  {
    /*  Navbar     */
    .search{
        width: 340px;
        height: 15px;
        font-size: 15px;
        padding: 5px;
        margin-left: 31%;
        margin-top: 10px;
    }
    input{
        padding-left: 5px;
        width: 150px;
        border: none;
    }
    
    /* Menu categorias */
    .categorias ul li a{
        padding:3px;
    }
    .categorias ul li{
        padding:0px;
        font-size: 8px;
    }
    .categorias ul{
        width: 100%;
    }
    .categorias{
        width: 100%;
        margin-right: 0px;
        margin-top: 15%;
        padding: 0px;
        border-bottom: 1px solid #000000;
    }
    /* Menu lateral */
        #menu ul a li span{
            font-size: 14px;
            padding:0px 30px 0px 10px 
        }
        .user{
            width: 20px;
            height: 20px;
        }
        #menu ul a{
            font-size: 14px;
        }
        #menu:hover{
            width: 150px;
        } 
        #menu{
            width: 60px;
            z-index:2;
        }
        body{
            background-size: calc(100% - 60px) 200px;
            background-position-x: 60px;
        }
        h1{
            width: 100%;
            font-size: 17px;
            z-index:1;
            margin: 15px 0px 10px 0px;
        }
        /* Cards */
         .fila{
            margin: auto;
            width: 80%;
            margin-left: 100px;
            margin-top: 20%;
        }
        .columna{
            width: 30%;
            padding: 10px 10px;
        }
        .heart-bar{
            width: 85%;
        }
    }
@media(max-width: 600px)  {
/*  Navbar     */
.search{
    width: 200px;
    height: 15px;
    font-size: 15px;
    padding: 5px;
    margin-left: 31%;
    margin-top: 10px;
}
input{
    padding-left: 5px;
    width: 150px;
    border: none;
}

/* Menu categorias */
.categorias ul li a{
    padding:3px;
}
.categorias ul li{
    padding:0px;
    font-size: 8px;
}
.categorias ul{
    width: 100%;
}
.categorias{
    width: 100%;
    margin-right: 0px;
    margin-top: 15%;
    padding: 0px;
    border-bottom: 1px solid #000000;
}
/* Menu lateral */
    #menu ul a li span{
        font-size: 14px;
        padding:0px 30px 0px 10px 
    }
    .user{
        width: 20px;
        height: 20px;
    }
    #menu ul a{
        font-size: 14px;
    }
    #menu:hover{
        width: 150px;
    } 
    #menu{
        width: 60px;
        z-index:2;
    }
    body{
        background-size: calc(100% - 60px) 100px;
        background-position-x: 60px;
    }
    h1{
        width: 100%;
        font-size: 17px;
        z-index:1;
        margin: 15px 0px 10px 0px;
    }
    /* Cards */
     .fila{
        margin: auto;
        width: 70%;
        margin-left: 80px;
        margin-top: 20%;
    }
    .columna{
        width: 100%;
        padding: 10px 10px;
    }
    .heart-bar{
        width: 85%;
    }
}
